@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
i {
    position: absolute;
    top: 38%;
    right: 16%;
}

i:hover {
    color: #00fcb6;
    cursor: pointer;
}